doctype html
html
    head
        title Test
        script(type="text/javascript", src="https://cdn.jsdelivr.net/sockjs/1.0/sockjs.min.js")
        script(type="text/javascript", src="https://rawgit.com/centrifugal/centrifuge-js/master/centrifuge.js")
        script(type="text/javascript").
            var centrifuge = new Centrifuge({
                url: 'http://centrifuge.example.com/connection',
                project: 'project-1',
                user: 'adlab',
                timestamp: 'TIMESTAMP',
                token: 'adlab.project-1'
            });

            centrifuge.on('connect', function () {
                var subscription = centrifuge.subscribe('namespace:channel', function(message) {
                    alert("Message");
                });
            });
    body